node_modules/
.DS_Store
bundle/
index.d.ts
index.js
index.metadata.json
ng2-slimscroll.metadata.json
src/classes/slimscroll-options.class.d.ts
src/classes/slimscroll-options.class.js
ng2-slimscroll.d.ts
ng2-slimscroll.js
src/directives/slimscroll.directive.d.ts
src/directives/slimscroll.directive.js
