node_modules/
bundles/
npm-debug.log
ng2-slimscroll.d.ts
ng2-slimscroll.js
ng2-slimscroll.js.map
src/directives/slimscroll.directive.js
src/directives/slimscroll.directive.js.map
src/directives/slimscroll.directive.d.ts
typings/
