@charset 'utf8'

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700')
@import '../../node_modules/bulma/bulma'

html, body
  background: #FFFFFF
  font-family: 'Open Sans', sans-serif

.scroll-window
  width: 100%
  height: 300px
  font-size: 13px
  padding: 10px
  font-size: 15px
  line-height: 30px

.column
  margin-bottom: 30px
